<?xml version="1.0"?>
<launch>
	<node pkg = "move_base" type = "move_base" respawn = "false" name = "move_base" output = "screen">
		<param name="footprint_padding" value="0.01" />
    	<param name="controller_frequency" value="10.0" />
   	<param name="controller_patience" value="3.0" />

   	<param name="oscillation_timeout" value="30.0" />
    	<param name="oscillation_distance" value="0.5" />
    
		<rosparam file="$(find tp_base)/launch/config_nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find tp_base)/launch/config_nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find tp_base)/launch/config_nav/global_costmap_params.yaml" command="load" /> <!--param="global_costMap"-->
		<rosparam file="$(find tp_base)/launch/config_nav/local_costmap_params.yaml" command="load" />	<!--param="local_costMap"-->
		<rosparam file="$(find tp_base)/launch/config_nav/base_local_planner_params.yaml" command="load" />	<!--param ="local_planner"-->
	</node>
</launch>
